{% extends 'layout.html' %} {% block title %} Home {% endblock %} 
{% block content %}
<div
  style="
    background-image: url('https://wallpapercave.com/wp/aZlqiAT.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 5px black;
  "
>
  <h1>Welcome to our Tourist Recommendation System</h1>
</div>
{% endblock %}
